/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: montserrat-bold;
    src: url('../static/Montserrat/Montserrat-Bold.ttf') format('ttf');
}

@font-face {
    font-family: montserrat-black;
    src: url('../static/Montserrat/Montserrat-Black.ttf') format('ttf');
}